statemachine/security_orchestration.asl.json
{
  "Comment": "AWS AI Security Orchestration Workflow - Phase 3",
  "StartAt": "AnalyzeEvent",
  "States": {
    "AnalyzeEvent": {
      "Type": "Task",
      "Resource": "${analyzer_lambda_arn}",
      "Next": "ScoreRisk",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "States.TaskFailed"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error",
          "Next": "NotifyFailure"
        }
      ]
    },
    "ScoreRisk": {
      "Type": "Task",
      "Resource": "${risk_scoring_lambda_arn}",
      "Next": "StoreFinding",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "States.TaskFailed"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error",
          "Next": "NotifyFailure"
        }
      ]
    },
    "StoreFinding": {
      "Type": "Task",
      "Resource": "${findings_writer_lambda_arn}",
      "Next": "CheckSeverity",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "States.TaskFailed"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error",
          "Next": "NotifyFailure"
        }
      ]
    },
    "CheckSeverity": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.severity",
          "StringEquals": "high",
          "Next": "RequestApproval"
        },
        {
          "Variable": "$.severity",
          "StringEquals": "critical",
          "Next": "RequestApproval"
        }
      ],
      "Default": "Notify"
    },
    "RequestApproval": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
      "Parameters": {
        "FunctionName": "${approval_request_lambda_arn}",
        "Payload": {
          "finding.$": "$",
          "taskToken.$": "$$.Task.Token"
        }
      },
      "TimeoutSeconds": 86400,
      "Next": "CheckApprovalDecision",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "States.TaskFailed"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error",
          "Next": "NotifyFailure"
        }
      ]
    },
    "CheckApprovalDecision": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.approval_status",
          "StringEquals": "APPROVED",
          "Next": "Remediate"
        }
      ],
      "Default": "NotifyAfterApproval"
    },
    "Remediate": {
      "Type": "Task",
      "Resource": "${remediator_lambda_arn}",
      "Next": "NotifyAfterRemediation",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "States.TaskFailed"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error",
          "Next": "NotifyFailure"
        }
      ]
    },
    "Notify": {
      "Type": "Task",
      "Resource": "${notifier_lambda_arn}",
      "End": true
    },
    "NotifyAfterApproval": {
      "Type": "Task",
      "Resource": "${notifier_lambda_arn}",
      "End": true
    },
    "NotifyAfterRemediation": {
      "Type": "Task",
      "Resource": "${notifier_lambda_arn}",
      "End": true
    },
    "NotifyFailure": {
      "Type": "Task",
      "Resource": "${notifier_lambda_arn}",
      "End": true
    }
  }
}
